
<html>
        <head>
                        <meta charset="utf-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                        <link rel="stylesheet" href="/css/bootstrap.min.css">
                        <title>BMI Calculator</title>
        </head>
            <body>
                    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                            <a class="navbar-brand" href="/">📐 Metric BMI Calculator</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            
                            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                                <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Calculate <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/info">Info</a>
                                </li>
                                </ul>
                            </div>
                        </nav>
                        <main role="main" class="container">

                                <div class="my-5">
                                    <h1>About BMI 📌</h1>
                                    <p class="lead"> BMI (Body Mass Index) is a measurement of body fat based on height and weight that applies to both men and women between the ages of 18 and 65 years.<br>
                                        BMI can be used to indicate if you are overweight, obese, underweight or normal. A healthy BMI score is between 20 and 25.<br>
                                        A score below 20 indicates that you may be underweight; a value above 25 indicates that you may be overweight.    <br>
                                        You can calculate your BMI by using our BMI Calculator below, or by using the BMI Formula.
                                        Please remember, however, that this is only one of many possible ways to assess your weight.
                                         If you have any concerns about your weight, please discuss them with your physician, who is in a position,
                                         unlike this BMI calculator, to address your specific individual situation. </p>
                                </div>
                        
                            </main>
                       
        <!-- Optional JavaScript -->
        <script src="/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        </body>
        </html>